@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.parent {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: $background;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 32px 64px;
    @include breakpoint(sm) {
        padding-left: 16px;
        padding-right: 16px;
        width: 90vw;
    }
}
.heading {
    font-weight: 400;
    font-size: 24px;
    color: $heading;
    @include breakpoint(sm) {
        font-size: 20px;
    }
}
.heading2 {
    font-weight: 400;
    font-size: 16px;
    color: $heading;
}
.pill {
    padding: 8px 16px;
    border-radius: 1000px;
    border: 1px solid #dadada;
    margin-right: 8px;
    margin-bottom: 8px;
}
.swiperCard {
    border-radius: 4px;
    background-color: #ffffff;
    padding: 16px;
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid #dadada;
    @include breakpoint(sm) {
        width: 100%;
        height: 50vh;
    }
}
.swiperText {
    font-weight: 400;
    font-size: 16px;
    color: $heading;
    line-height: 1.54;
}
.cta {
    background-color: #3742fa;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    padding: 8px 24px;
    border-radius: 4px;
}
.cta--disabled {
    cursor: no-drop;
    background-color: #dadada;
    color: $body;
}
.stepheadingWrapper {
    display: flex;
    @include breakpoint(lg) {
        flex-direction: column;
    }
    .leftStepheadingWrapper {
        .stepheading {
            font-weight: 400;
            font-size: 18px;
            color: $body;
            @include breakpoint(sm) {
                font-size: 14px;
            }
        }
    }
    .rightStepheadingWrapper {
        display: flex;
        flex-direction: column;
       span {
           font-weight: bold;
           padding: 0 2rem;
           @include breakpoint(sm) {
            text-align: center;
        }
       }
        iframe {
            width: 560px;
            height: 315px;
            // padding: 0 2rem;
            @include breakpoint(sm) {
                margin: 0 auto;
                max-width: 335px;
            }
            @include breakpoint(xs) {
                max-width: 280px !important;
            }
            @include breakpoint(md) {
                // width: 263px;
                max-width: 600px;
            }
        }
    }
}

