html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #f3f5f8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#__next{
  width: 100%;
  height: 100%;
}
.swiper-container{
  z-index: 0 !important;
}