@import "./colors.scss";
@import "./breakpoints.scss";
.main {
  flex: 1;
  width: 100%;
  height: 100%;
}
.container {
  flex: 1;
  width: 100%;
  height: 100%;
}
.header {
  padding-top: 36px;
  padding-bottom: 36px;
  @include breakpoint(sm) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.baton {
  height: 84px;
  margin-bottom: 24px;
}
.heading {
  font-weight: 600;
  font-size: 36px;
  color: $heading;
  text-transform: uppercase;
}

.subheading {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.54;
  color: $body;
}
.hero {
  height: 420px;
  background-color: $background;
  padding: 64px 0px;
  @include breakpoint(sm) {
    height: 512px;
  }
  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__heading {
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    @include breakpoint(sm) {
      font-size: 24px;
    }
  }
  &__subheading {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.54;
    color: #ffffff;
    text-align: center;
    max-width: 1024px;
    @include breakpoint(sm) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}
.emailContainer{
  margin-top: -64px;
}
.footerSection {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  background-color: darken($color: #f3f5f8, $amount: 5%);
}
.termsLabel {
  width: 141px;
  color: #718096;
  font-size: 13px;
  line-height: 25px;
  display: inline-block;
  padding-right: 20px;
  border-right: 1px solid #718096;
}
.privacyLabel {
  width: 90px;
  color: #718096;
  font-size: 13px;
  line-height: 25px;
  display: inline-block;
  margin-left: 20px;
}
.partnerImage{
  object-fit: contain;
  width: auto;
}